<%- include("header"); -%> 
    <h2>This is Ant portfolio</h2>
    <p>Just be YOLO Just be YOLO Just be YOLO Just be YOLO Just be YOLO Just be YOLO Just be YOLO Just be YOLO Just be YOLO Just be YOLO Just be YOLO Just be YOLO Just be YOLO Just be YOLO </p>
<%- include("footer"); -%> 